body{
    background-color: #FFAFAF;
    color: #D76D71;
}

h1{ 
    color: #B85D60;
}

h2{
    color: #B85D60;
}

h3{
    color: #B85D60;
}

span{
    color: #B85D60;
}

table, th, td{
    border: 1px solid;
}
